
.chart-container {
  display: flex;
  justify-content: center;
  width: 45%;
}

canvas {
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .chart-container {
     width: 70%;
  }
}
@media only screen and (max-width: 1441px) {
  .chart-container {
     width: 60%;
  }
}