.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.card {
  margin: 0 2% !important; 
}

img {
  width: 200px;
}

.confirmed {
  background-color: rgba(0, 0, 255, 0.5);
}

.recovered {
  background-color: rgba(0, 255, 0, 0.5);
}

.deaths {
  background-color: rgba(255, 0, 0, 0.5);
}

@media only screen and (max-width: 820px) {
  .card {
    margin-top: 25px !important;
  }
}