.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0 3%;

}

img {
  width: 200px;
}

.confirmed {
  background-color: rgba(0, 0, 255, 0.5);
}

.recovered {
  background-color: rgba(0, 255, 0, 0.5);
}

.deaths {
  background-color: rgba(255, 0, 0, 0.5);
}