body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h3 {
    text-align: center;
}

.container {
    width: 50rem;
    margin-bottom: 30px !important;
}

@media only screen and (max-width: 770px) {
    .container {
        width: 26rem;
    }
}